:root {
  --side-col1: yellow;
  --side-col2: #81ff81;
  --side-colpara2: rgba(60, 141, 244, 0.45);

  --side-colpara: rgba(60, 141, 244, 0.78);
  --header-col: #ffb5a9;
  --bg-col: white;
  --text-col: black;
  --link-col: #f93434;
  --paler-text-col: #7b7b7b;
}

.dark-mode {
  --side-col1: #959313e6;
  --side-col2: #1c7971ed;
  --side-colpara2: rgba(60, 141, 244, 0.83);
  --header-col: #8416ac;
  --bg-col: #171111;
  --text-col: #dee6ee;
  --paler-text-col: #b9b9b9;
}

// .pastel-mode {
//   --side-col1: #F79ECC;
//   --side-col2: #AD96E4;
//   --side-colpara2: #71D4DA;
// }

// .beach-mode {
//   --side-col1: #038C8C;
//   --side-col2: #F2CB9B;
//   --side-colpara2: #F28888;
// }

// .sunset-mode {
//   --side-col1: #D61E4F;
//   --side-col2: #F04324;
//   --side-colpara2: #A61F70;
// }

// .rose-mode {
//   --side-col1: #548EA6;
//   --side-col2: #F38C8D;
//   --side-colpara2: #F2B8A2;
// }

// .highlighter-mode {
//   --side-col1: #3a86ff;
//   --side-col2: #ff006e;
//   --side-colpara2: #ffbe0b;
// }

// .ocean-mode {
//   --side-col1: #80ffdb;
//   --side-col2: #56cfe1;
//   --side-colpara2: #5e60ce;
// }
