/*
Font: 		Phrasa
Style: 		Extra Light
URL: 		https://www.youworkforthem.com/font/T12766/phrasa
Foundry: 	Arri�re-garde
Foundry: 	https://www.youworkforthem.com/designer/953/
Copyright:	Piotr _ukaszkiewicz
Version: 	17
Created:	August 26, 2020
License: 	https://www.youworkforthem.com/font-license 
License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
			WebFont license rules. All other parties are strictly restricted 
			from using the WebFonts(s) listed without a purchased license. 
			All details above must always remain unaltered and visible in your CSS.
*/

@font-face {
	font-family: 'Phrasa-ExtraLight';
	src: url('../fonts/phrasa-extra-light.eot');
	src: url('../fonts/phrasa-extra-light.eot?#iefix') format('embedded-opentype'),
             url('../fonts/phrasa-extra-light.woff2') format('woff2'),
	     url('../fonts/phrasa-extra-light.woff') format('woff'),
	     url('../fonts/phrasa-extra-light.ttf') format('truetype'),
	     url('../fonts/phrasa-extra-light.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*
Font: 		Aalto Sans
Style: 		Light DEMO
URL: 		https://www.youworkforthem.com/font/T10472/aalto-sans
Foundry: 	Los Andes Type
Foundry: 	https://www.youworkforthem.com/designer/267/los-andes-type
Copyright:	Copyright © 2018 by Luciano Vergara. All rights reserved.
Version: 	17
Created:	October 16, 2019
License: 	https://www.youworkforthem.com/font-license 
License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
			WebFont license rules. All other parties are strictly restricted 
			from using the WebFonts(s) listed without a purchased license. 
			All details above must always remain unaltered and visible in your CSS.
*/

@font-face {
	font-family: 'AaltoSans-LightDEMO';
	src: url('../fonts/aalto-sans-light-demo.eot');
	src: url('../fonts/aalto-sans-light-demo.eot?#iefix') format('embedded-opentype'),
             url('../fonts/aalto-sans-light-demo.woff2') format('woff2'),
	     url('../fonts/aalto-sans-light-demo.woff') format('woff'),
	     url('../fonts/aalto-sans-light-demo.ttf') format('truetype'),
	     url('../fonts/aalto-sans-light-demo.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*
Font: 		Biwa Agate Black
Style: 		Regular
URL: 		https://www.youworkforthem.com/font/T8501/biwa-and-biwa-display
Foundry: 	Wordshape
Foundry: 	https://www.youworkforthem.com/designer/312/wordshape
Copyright:	Copyright (c) 2016 by Ian Lynam. All rights reserved.
Version: 	17
Created:	November 10, 2017
License: 	https://www.youworkforthem.com/font-license 
License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
			WebFont license rules. All other parties are strictly restricted 
			from using the WebFonts(s) listed without a purchased license. 
			All details above must always remain unaltered and visible in your CSS.
*/

@font-face {
	font-family: 'BiwaAgate-Black';
	src: url('../fonts/biwa-agate-black.eot');
	src: url('../fonts/biwa-agate-black.eot?#iefix') format('embedded-opentype'),
             url('../fonts/biwa-agate-black.woff2') format('woff2'),
	     url('../fonts/biwa-agate-black.woff') format('woff'),
	     url('../fonts/biwa-agate-black.ttf') format('truetype'),
	     url('../fonts/biwa-agate-black.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*
Font: 		Calling Code
Style: 		Regular
URL: 		https://www.youworkforthem.com/font/T7973/calling-code
Foundry: 	Ryoichi Tsunekawa
Foundry: 	https://www.youworkforthem.com/designer/147/ryoichi-tsunekawa
Copyright:	Copyright � 2017 by Ryoichi Tsunekawa. All rights reserved.
Version: 	17
Created:	January 31, 2018
License: 	https://www.youworkforthem.com/font-license 
License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
			WebFont license rules. All other parties are strictly restricted 
			from using the WebFonts(s) listed without a purchased license. 
			All details above must always remain unaltered and visible in your CSS.
*/

@font-face {
	font-family: 'CallingCode-Regular';
	src: url('../fonts/calling-code-regular.eot');
	src: url('../fonts/calling-code-regular.eot?#iefix') format('embedded-opentype'),
             url('../fonts/calling-code-regular.woff2') format('woff2'),
	     url('../fonts/calling-code-regular.woff') format('woff'),
	     url('../fonts/calling-code-regular.ttf') format('truetype'),
	     url('../fonts/calling-code-regular.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*
Font: 		Codec Pro
Style: 		Regular
URL: 		https://www.youworkforthem.com/font/T11634/codec-pro
Foundry: 	Zetafonts
Foundry: 	https://www.youworkforthem.com/designer/800/zetafonts
Copyright:	Copyright © 2019 by Cosimo Lorenzo Pancini & Francesco Canovaro. All rights reserved.
Version: 	17
Created:	December 06, 2019
License: 	https://www.youworkforthem.com/font-license 
License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
			WebFont license rules. All other parties are strictly restricted 
			from using the WebFonts(s) listed without a purchased license. 
			All details above must always remain unaltered and visible in your CSS.
*/

@font-face {
	font-family: 'CodecPro-Regular';
	src: url('../fonts/codec-pro-regular.eot');
	src: url('../fonts/codec-pro-regular.eot?#iefix') format('embedded-opentype'),
             url('../fonts/codec-pro-regular.woff2') format('woff2'),
	     url('../fonts/codec-pro-regular.woff') format('woff'),
	     url('../fonts/codec-pro-regular.ttf') format('truetype'),
	     url('../fonts/codec-pro-regular.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*
Font: 		Haboro Sans
Style: 		Norm Regular
URL: 		https://www.youworkforthem.com/font/T6713/haboro-sans
Foundry: 	Insigne
Foundry: 	https://www.youworkforthem.com/designer/146/insigne
Copyright:	Copyright (c) 2015 by Jeremy Dooley. All rights reserved.
Version: 	17
Created:	July 06, 2016
License: 	https://www.youworkforthem.com/font-license 
License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
			WebFont license rules. All other parties are strictly restricted 
			from using the WebFonts(s) listed without a purchased license. 
			All details above must always remain unaltered and visible in your CSS.
*/

@font-face {
	font-family: 'HaboroSans-NorReg';
	src: url('../fonts/haboro-sans-norm-regular.eot');
	src: url('../fonts/haboro-sans-norm-regular.eot?#iefix') format('embedded-opentype'),
             url('../fonts/haboro-sans-norm-regular.woff2') format('woff2'),
	     url('../fonts/haboro-sans-norm-regular.woff') format('woff'),
	     url('../fonts/haboro-sans-norm-regular.ttf') format('truetype'),
	     url('../fonts/haboro-sans-norm-regular.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'TofinoPersonal-Light';
	// src: url('../fonts/haboro-sans-norm-regular.eot');
	src: url('../fonts/TofinoPersonal-Light.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'TofinoPersonal-Regular';
	// src: url('../fonts/haboro-sans-norm-regular.eot');
	src: url('../fonts/TofinoPersonal-Regular.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'TofinoPersonal-Book';
	// src: url('../fonts/haboro-sans-norm-regular.eot');
	src: url('../fonts/TofinoPersonal-Book.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'TofinoPersonal-Book';
	// src: url('../fonts/haboro-sans-norm-regular.eot');
	src: url('../fonts/TofinoPersonal-BookItalic.otf') format('opentype');
	font-weight: normal;
	font-style: italic;
}


@font-face {
	font-family: 'Minipax-Regular';
	// src: url('../fonts/haboro-sans-norm-regular.eot');
	src: url('../fonts/Minipax-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Karrik-Regular';
	// src: url('../fonts/haboro-sans-norm-regular.eot');
	src: url('../fonts/Karrik-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'CallingCode-Bold';
	src: url('../fonts/calling-code-bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/*
Font: 		Calling Code
Style: 		Italic
URL: 		https://www.youworkforthem.com/font/T7973/calling-code
Foundry: 	Ryoichi Tsunekawa
Foundry: 	https://www.youworkforthem.com/designer/147/ryoichi-tsunekawa
Copyright:	Copyright � 2017 by Ryoichi Tsunekawa. All rights reserved.
Version: 	17
Created:	January 31, 2018
License: 	https://www.youworkforthem.com/font-license 
License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
			WebFont license rules. All other parties are strictly restricted 
			from using the WebFonts(s) listed without a purchased license. 
			All details above must always remain unaltered and visible in your CSS.
*/

@font-face {
	font-family: 'CallingCode-Italic';
	src: url('../fonts/calling-code-italic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/*
Font: 		Iverse Mono
Style: 		Regular
URL: 		https://www.youworkforthem.com/font/T12538/iverse-mono
Foundry: 	Minor Praxis
Foundry: 	https://www.youworkforthem.com/designer/1318/minor-praxis
Copyright:	
Version: 	17
Created:	July 07, 2020
License: 	https://www.youworkforthem.com/font-license 
License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
			WebFont license rules. All other parties are strictly restricted 
			from using the WebFonts(s) listed without a purchased license. 
			All details above must always remain unaltered and visible in your CSS.
*/

@font-face {
	font-family: 'IverseMono-Regular';
	src:
	     url('../fonts/iverse-mono-regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
