@import "fonts";
@import "colors";
@import "print";

:root {
  --body-font: 'Aalto Sans';
  --header-font: 'Karrik';
}

* {
  font-family: var(--body-font);
}

body {
  font-size: 19px;
  background-color: var(--bg-col);
  color: var(--text-col);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--header-font);
  margin-bottom: 1em;
}

// .left {
//   font-family: 'CallingCode-Regular';
//   font-size: 0.8em;
// }

h1 {
  // background-color: var(--side-colpara);
  // color: var(--bg-col);
  // display: inline-block;
  font-size: 2em;
  margin-bottom: 0.5em;;
  // margin-bottom: 0;
  // margin-left: -9000em;
  // padding: 0.5em 1em;
  // padding-left: 9000em;
}
h2 {
  font-size: 1.7em;
  color: var(--side-colpara);
}
h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.3em;
}

h5 {
  font-size: 1em;
}

a, a:hover, a:visited, a:link {
  color: var(--text-col);
  // background-color: #ffd531;
  // background-color: #ffb5a9;
  // border: 5px double #ffb5a9;
  text-decoration-color: var(--link-col);
  text-decoration-style: double;
  transition: color 0.25s, background-color 0.25s;
}

a:hover {
  background-color: var(--header-col);
  color: blue;
  transition: color 5s, background-color 5s;
  // transform: rotateX(-2deg);
}

img, video, pre{
  max-width: 100%;
}

.gallery p {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;

  // img {
  //   width: 33%;
  // }
  // img {
  //   width: 30%;
  // }
}

hr {
  width: 30%;
  margin: 0 auto;
  border: 0px solid transparent;
  border-top: 1px dashed var(--side-colpara);
  margin-bottom: 1em;
}